$logowidth : 80%;
$maincolor: #5fb656;
//$maincolor: #404040;
$menucolor: rgba(92,182,86,0.1);
$selectedmenu: $maincolor;
$darkmaincolor: #3b7935;
$whitecolor: #fff;
$loginbackColor:#EFF2F1;
$inputbackcolor:$menucolor;
$inputcolor: #3b7935;
$mainloginLogo: url('./../../img/logon.png') ;
